.portfolio-bg {
  background-color: #dddddd;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

.content-wrap {
  flex: 1;
}

.myfooter {
  background-color: #3c8dad;
  color:#dddddd;
  padding-top: 1em;
}

.col {
  text-align: center;
}

.nav-links {
  text-align: right;
  padding: 10px;
}

nav {
  background-color: #f5a962;
}
