/* ====================Global Variable=================== */
:root {
  --bg-color: #dddddd;
  --dark-blue:#125d98;
  --orange: #f5a962;
  --light-blue: #3c8dad;
  --header-text: 'Permanent Marker', cursive;
  --body-text: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* ====================Page setup=================== */

.portfolio-bg {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--body-text);
}

.content-wrap {
  flex: 1;
}


/*=============== Footer============== */

.myfooter {
  background-color: var(--dark-blue);
  color: var(--bg-color);
  justify-content: center;
  display: inline-flex;
}

.footer-content {
  margin: 15px;
  position: relative;
}

.footer-content a {
  position: relative; 
  display: block;
  text-align: center;
  color: var(--bg-color);
  border-radius: 50%;
  transition: .5s;
}

/*============== Glow effect if I can make it work========= */
.footer-content a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--orange);
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.footer-content a:hover {
  color: var(--orange);
  text-shadow: 0 0 5px var(--orange);
}

.footer-content a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--orange);
}

/*================== Navbar styling=============== */
.myName {
  font-family: var(--header-text);
  font-size: 72px;
  font-weight: 900;
}

.nav-link-container {
  background-color: var(--orange);
  background-image: url('/src/img/banner.jpg');
  background-size: cover;
  color: var(--orange);
  font-family: var(--header-text);
  font-size: 36px;
  padding: 1%;
  display: flex;
  height: 40vh;
}

.nav-link-container a {
  position: relative; 
  text-align: right;
  color: var(--orange);
  border-radius: 50%;
  transition: .5s;
  justify-content: right;
}

.nav-link-container a:hover {
  text-shadow: 1px 1px 5px var(--bg-color), 1px 1px 5px var(--bg-color);
  color: var(--bg-color);
}

.nav-link-header a{
  margin: 10px;
  position: relative;
  left: 60vw;
  top: -7vh;
}

.nav-links {
  text-decoration: none;
}

/* ====================Images=================== */

.my-photo {
  max-width: 70%;
  max-height: 80%;
}

/* ====================Pages=================== */

.center-content {
  text-align: center;
  position: relative;
  top: 50%;
}

body {
  font-family: var(--body-text);
}

h1 {
  font-family: var(--header-text);
  color: var(--light-blue);
}

.resume-button {
  position: relative;
  margin-left: 4.5em;
}

.card-margin {
  padding: 10px;
}

.btn {
  background-color: var(--orange);
}

/* ====================@media queries=================== */

@media screen and (max-width: 850px) {
  
  .nav-link-header a{
    position: relative;
    top: 0vh;
    left: -50vw;
    display: block;
    margin: -10px;
  } 

  .myName {
    font-family: var(--header-text);
    font-size: 36px;
    font-weight: 900;
  }
}
